* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    text-align: center;
}

.game-title {
    font-size: 56;
    font-weight: 300;
    margin-bottom: 35px
}

.btn {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    background-color: black;
    color: aliceblue;
    border-radius: 35px;
    border: 0px;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    background-color: rgb(54, 54, 54);
}

.result-game {
    margin-top: 50px;
}

.result-text {
    font-size: 56;
    font-weight: 300;
}

.result {
    font-size: 56;
    font-weight: 300;
}
